doctype html
html
    head
        title all
        link(rel="stylesheet", href="")
        meta(name="name" content="content")
    body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae laborum distinctio at adipisci tempora. Atque dolorem ab minima fugiat eos, est, at, exercitationem officia eius perferendis culpa nostrum ipsa!
        